[Unit]
Description=MoQ Initial Certificate
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
# Obtain initial certificate
ExecStart=/bin/sh -c '/var/lib/moq/cert/bin/certbot certonly \
  --dns-google \
  --dns-google-credentials /var/lib/moq/gcp.json \
  --non-interactive \
  --agree-tos \
  --email admin@hang.live \
  -d moq.hang.live \
  -d $(hostname)'

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
