@import "@fontsource-variable/montserrat";
@import "tailwindcss";

@theme {
	--font-montserrat: "Montserrat Variable", system-ui, sans-serif;
}

:root {
	/* Slowly rotated via JavaScript. */
	--link-hue: 140;
}

:root {
	font-family: system-ui, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: dark light;
	color: rgba(255, 255, 255, 0.87);
	background-color: #000;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: hsl(var(--link-hue), 75%, 50%);
	text-underline-offset: 0.125em;
	text-decoration-thickness: 0.075em;
	@apply font-bold;
}

/*
a:hover {
	text-decoration-color: gold;
}
*/

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
}

header {
	@apply text-white font-montserrat flex items-center justify-between gap-2 p-2 text-shadow-lg;

	#status {
		font-size: 0.5em;
		vertical-align: -0.2em;

		/* default color */
		color: hsl(140, 75%, 50%);
	}

	a {
		@apply no-underline;
	}

	> .logo,
	> nav {
		@apply rounded backdrop-blur-sm p-[6px_14px];
	}

	> .logo {
		@apply text-[1.5em];
	}

	> nav {
		@apply flex gap-4;
	}
}

.controls {
	@apply fixed bottom-0 left-0 right-0 flex items-center gap-2 p-[8px_12px] text-shadow-lg;

	input {
		@apply py-1 px-2;
	}

	button {
		@apply p-2;
	}

	input,
	button {
		@apply border border-transparent backdrop-blur-sm rounded bg-transparent;
	}

	input:focus {
		@apply outline-none;
	}

	button {
		@apply cursor-pointer;
	}

	button:focus:not(:focus-visible) {
		@apply outline-none;
	}
}

.pointer-gaps {
	@apply pointer-events-none;
}

.pointer-gaps > * {
	@apply pointer-events-auto;
}

.potato * {
	/* I think this is expensive, so we disable it in potato mode. */
	@apply backdrop-filter-none;
}

.wrapper {
	@apply backdrop-blur-sm rounded p-4 max-w-[900px] mx-auto w-full;
}

main {
	@apply w-full py-2 px-4;

	p {
		@apply m-4;
	}
}

footer {
	@apply text-center text-sm text-gray-500 mt-4;
}
