@import "@fontsource-variable/montserrat";

:root {
	font-family: "Montserrat Variable", system-ui, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: dark light;
	color: rgba(255, 255, 255, 0.87);
	background-color: #000;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration-color: orange;
	text-underline-offset: 0.125em;
	text-decoration-thickness: 0.075em;
	transition: text-decoration-color 0.2s ease-in-out;
}

/*
a:hover {
	text-decoration-color: gold;
}
*/

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}

header {
	color: white;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	padding: 8px;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;

	a {
		text-decoration: none;
	}

	> .logo,
	> nav {
		border-radius: 4px;
		backdrop-filter: blur(4px);
		padding: 6px 14px;
	}

	> .logo {
		font-size: 1.5em;
	}

	> nav {
		display: flex;
		gap: 16px;
	}
}

.controls {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: flex-end;
	gap: 8px;
	padding: 8px 12px;
	font-size: 1.5em;

	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;

	input,
	button {
		border: 1px solid transparent;
		backdrop-filter: blur(4px);
		border-radius: 4px;
		padding: 6px 10px;
		background: transparent;
	}

	input:focus {
		outline: none;
	}

	button {
		cursor: pointer;
	}

	button:focus:not(:focus-visible) {
		outline: none;
	}
}

.pointer-gaps {
	pointer-events: none;

	> * {
		pointer-events: auto;
	}
}

.dragging * {
	pointer-events: none !important;
}

.dragging canvas {
	pointer-events: auto !important;
}
