# Automatically load the Nix development shell when entering this directory
# Requires direnv: https://direnv.net/
#
# To enable:
#   1. Install direnv
#   2. Run: direnv allow
#
# This will automatically set up the development environment including:
# - Rust toolchain
# - PostgreSQL
# - All development tools
#
use flake
