[Unit]
Description=Prepare video for hang-bbb publisher
Before=hang-bbb.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
WorkingDirectory=/var/lib/moq

ExecStart=/bin/bash -c '\
  # Download the video \
  /nix/var/nix/profiles/default/bin/nix shell nixpkgs#wget -c wget -nv http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4 -O /var/lib/moq/tmp.mp4 && \
  # Fragment the video using ffmpeg from flake \
  /var/lib/moq/result-bin/bin/ffmpeg \
    -y -loglevel error -i /var/lib/moq/tmp.mp4 \
    -c copy \
    -f mp4 -movflags cmaf+separate_moof+delay_moov+skip_trailer+frag_every_frame \
    /var/lib/moq/fragmented.mp4 && \
  rm -f /var/lib/moq/tmp.mp4'

[Install]
WantedBy=multi-user.target
