[Unit]
Description=Vacuum systemd journal logs daily
After=multi-user.target

[Timer]
# Run daily at 2am
OnCalendar=daily
OnCalendar=02:00
# Run on boot if we missed a scheduled run
Persistent=true

[Install]
WantedBy=timers.target
