[Unit]
Description=Vacuum systemd journal logs
Documentation=man:journalctl(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/journalctl --vacuum-time=7d --vacuum-size=500M

StandardOutput=journal
StandardError=journal
