@import "@fontsource-variable/montserrat";
@import "tailwindcss";

@theme {
	--font-montserrat: "Montserrat Variable", system-ui, sans-serif;
}

:root {
	/* Slowly rotated via JavaScript. */
	--link-hue: 140;
}

:root {
	font-family: system-ui, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: dark light;
	color: rgba(255, 255, 255, 0.87);
	background-color: #000;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: hsl(var(--link-hue), 75%, 50%);
	text-underline-offset: 0.125em;
	text-decoration-thickness: 0.075em;
	@apply font-bold;
}

/*
a:hover {
	text-decoration-color: gold;
}
*/

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	overflow-x: hidden;
}

/* Make the hang div take up at least full viewport height */
#hang {
	/*min-height: 90vh; */
	display: flex;
	flex-direction: column;
	position: relative;
}

header {
	@apply text-white font-montserrat flex justify-between gap-2 text-shadow-lg;

	/* Prevent text selection. */
	user-select: none;

	a {
		@apply no-underline;
	}
}

nav > * {
	@apply backdrop-blur-sm rounded bg-transparent;
}

.controls {
	@apply fixed bottom-0 left-0 right-0 flex items-end gap-3 p-3 text-shadow-lg text-xl;
	z-index: 10; /* Ensure controls are above other content */

	input:not([type="range"]) {
		@apply py-1 px-2;
	}

	button {
		@apply p-2 hover:bg-gray-700 transition-all;
	}

	input,
	button {
		@apply backdrop-blur-sm rounded bg-transparent;
	}

	input:focus {
		@apply outline-none;
	}

	button {
		@apply cursor-pointer;
	}

	button:focus:not(:focus-visible) {
		@apply outline-none;
	}
}

.pointer-gaps {
	@apply pointer-events-none;
}

.pointer-gaps > * {
	@apply pointer-events-auto;
}

.potato * {
	/* I think this is expensive, so we disable it in potato mode. */
	@apply backdrop-filter-none;
}

main {
	@apply w-full bg-black text-white p-4 rounded-xl;

	flex: 1;
	display: flex;
	flex-direction: column;
	min-height: 0;

	p {
		@apply m-4;
	}
}

footer {
	@apply text-center text-sm text-gray-500 mt-4;
}
